<div class="row">
    <div class="col-xs-3" ng-include="'controller/configuration/navigation.html'">
    </div>
    <div class="col-xs-9">
        <div class="page-header">
            <h2>Modifier une section</h2>
        </div>

        <form ng-submit="sectionEdit()" ng-init="sectionEditInit()" name="sectionEditForm" novalidate>
            <div class="form-group">
                <label for="txtNom">Nom de la section</label>
                <input type="text" class="form-control" id="txtNom" name="txtNom" ng-model="sectionDetails.Nom">
                <p class="help-block" ng-show="sectionEditForm.txtNom.$error.required">Le nom de la section est requis</p>
            </div>
            <div class="form-group text-right">
                <button type="reset" class="btn btn-default" ng-click="navigateBack()">Annuler</button>
                <button type="submit" class="btn btn-success">Sauvegarder</button>
            </div>
        </form>
    </div>
</div>