<!DOCTYPE html>
<html lang="en" ng-app="LautoCadet" ng-controller="applicationController">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

	<title>{{pageTitle}} - L'auto-cadet</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet" />

	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/servercom.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/showErrors.min.js"></script>
	<script src="controller/application/applicationcontroller.js"></script>
    <script src="controller/application/notification.js"></script>
    <script src="controller/application/pieChart.js"></script>
    <script src="controller/application/lowerThanDirective.js"></script>
	<script src="controller/leaderboard/leaderboardcontroller.js"></script>
	<script src="controller/configuration/configurationController.js"></script>
    <script src="controller/configuration/cadet/cadetController.js"></script>
    <script src="controller/configuration/section/sectionController.js"></script>
    <script src="controller/error/errorController.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="row">
				<ul class="nav navbar-nav col-xs-3">
					<li ng-hide="isHomePage">
						<a href="" ng-click="navigateBack()"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a>
					</li>
				</ul>
				<div class="navbar-brand col-xs-6 navbar-center">
					{{pageTitle}} - L'auto-cadet
				</div>
				<ul class="nav navbar-nav col-xs-3">
                    <li class="pull-right">
                        <a href="" ng-click="enterFullScreen()" ng-hide="isFullScreen"><span class="glyphicon glyphicon-resize-full"></span></a>
                        <a href="" ng-click="leaveFullScreen()" ng-show="isFullScreen"><span class="glyphicon glyphicon-resize-small"></span></a>
                    </li>
					<li class="pull-right">
                        <a href="configuration/" ng-show="isHomePage"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/" ng-hide="isHomePage"><span class="glyphicon glyphicon-home"></span></a>                        
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container container-error" ng-show="errorMessage">
		<div class="alert alert-danger">
			<strong>Une erreur est survenue</strong>

			<button class="btn btn-success pull-right" id="btnRefresh" ng-click="refreshPage()">
                <span class="glyphicon glyphicon-repeat"></span> Rafraîchir
            </button>
			<br />
			{{errorMessage}}
		</div>
	</div>

	<div class="spinner" ng-show="showLoading">
		<img src="img/spinner.gif" alt="Chargement..." />
	</div>

    <div class="container" ng-view></div>

    <footer class="footer">
        <div class="container">
            <a class="text-transparent pull-right" href="" ng-click="showDevTools()">
                <span class="glyphicon glyphicon-console"></span>
            </a>
            <p class="text-muted">© Christophe Gagnier</p>
        </div>
    </footer>

    <cg-notification></cg-notification>
</body>
</html>