<div class="row" ng-controller="configurationController">
    <div class="col-xs-3" ng-include="'controller/configuration/navigation.html'">
    </div>
    <div class="col-xs-9">
        <div class="page-header">
            <h2>
				Liste des cadets
				<div class="pull-right">
					<a href="" ng-click="navigate('cadetAdd')" class="btn btn-success">Ajouter un cadet</a>
				</div>
			</h2>
        </div>
		<table class="table" ng-init="getAllCadets()">
			<thead>
				<tr>
					<th>Grade</th>
					<th>Nom</th>
                    <th>Section</th>
                    <th class="text-center">Nb. billets vendu</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cadet in cadets">
					<td>{{cadet.Grade}}</td>
					<td>{{cadet.DisplayName}}</td>
                    <td>{{cadet.NomSection}}</td>
                    <td class="text-center">{{cadet.NbBilletsVendu}}</td>
					<td class="text-right">
						<a href="configuration/cadet/edit/{{cadet.CadetID}}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
						<a href="" class="btn btn-sm btn-danger" ng-click="cadetDelete(cadet)"><span class="glyphicon glyphicon-trash"></span></a>
					</td>
				</tr>
			</tbody>
		</table>

    </div>
</div>