<div class="row">
    <div class="col-xs-3" ng-include="'controller/configuration/navigation.html'">
    </div>
    <div class="col-xs-9" ng-init="getSaveDetails()">
        <div class="page-header">
            <h2>Général</h2>
        </div>

        <form name="fileDetailsForm" ng-submit="saveSaveDetails()" novalidate>
            <div class="form-group" show-errors>
                <label for="txtNom">Nom de la sauvegarde</label>
                <input type="text" class="form-control" name="txtNom" id="txtNom" ng-model="saveDetails.Nom" required>
                <p class="help-block" ng-show="fileDetailsForm.txtNom.$error.required">Le nom de la sauvegarde est requis</p>
            </div>

            <div class="clearfix">
                <div class="pull-left">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer
                    </button>
                    <!--<button class="btn btn-primary">Enregistrer sous</button>-->
                </div>
                <div class="pull-right">
                    <button class="btn btn-success" ng-click="openSelectFile()">
                        <span class="glyphicon glyphicon-folder-open"></span> Ouvrir
                    </button>
                    <a class="btn btn-success" href="configuration/file/new">
                        <span class="glyphicon glyphicon-plus-sign"></span> Nouveau
                    </a>
                </div>
            </div>
        </form>
        <hr />

        <h4>Fichiers récents...</h4>
        <div class="list-group">
            <button ng-repeat="fichierRecent in saveDetails.FichiersRecents" class="list-group-item" ng-click="openFile(fichierRecent.CheminFichier)">
                <strong>{{fichierRecent.NomSauvegarde}}</strong>
                <div class="file-path">{{fichierRecent.CheminFichier}}</div>
            </button>
        </div>
    </div>

</div>