<div class="row">
    <div class="col-xs-3" ng-include="'controller/configuration/navigation.html'">
    </div>
    <div class="col-xs-9">
        <div class="page-header">
            <h2>
                Liste des sections
                <div class="pull-right">
                    <a href="configuration/section/add" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter
                    </a>
                </div>
            </h2>
        </div>

        <table class="table" ng-init="getAllSections()">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th width="150px" class="text-center">Nombre de cadets</th>
                    <th width="150px" class="text-center">Nb. billets vendu</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="section in sections">
                    <td><a href="configuration/section/details/{{section.SectionID}}">{{section.Nom}}</a></td>
                    <td class="text-center">{{section.NbCadets}}</td>
                    <td class="text-center">{{section.NbBilletsVendu}}</td>
                    <td class="text-right">
                        <a href="configuration/section/edit/{{section.SectionID}}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="" class="btn btn-sm btn-danger" ng-click="sectionDelete(section)"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>