<div class="row">
    <div class="col-xs-3" ng-include="'controller/configuration/navigation.html'">
    </div>
    <div class="col-xs-9">
        <div class="page-header">
            <h2>
                Liste des cadets
                <div class="pull-right">
                    <a href="configuration/cadet/add" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter
                    </a>
                </div>
            </h2>
        </div>

        <div class="form-inline row">
            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Chercher..." ng-model="search.$">
            </div>
            <div class="form-group col-sm-4">
                <select class="form-control  col-sm-4" placeholder="Section" ng-model="filterOption.Section.SectionID" ng-options="section.SectionID as section.Nom for section in cadetListData.Sections" ng-empty-value="undefined">
                    <option value="" class="option-empty">Toutes les sections</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <select class="form-control  col-sm-4" placeholder="Grade" ng-model="filterOption.Grade.GradeID" ng-options="grade.GradeID as grade.Nom for grade in cadetListData.Grades" ng-empty-value="undefined">
                    <option value="" class="option-empty">Tous les grades</option>
                </select>
            </div>
        </div>
        <table class="table" ng-init="getAllCadets()">
            <thead>
                <tr>
                    <th>Cadet</th>
                    <th>Section</th>
                    <th class="text-center">Nb. billets vendu</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cadet in cadetListData.Cadets | filter:search | filter: filterOption:true">
                    <td>
                        {{cadet.DisplayName}}
                    </td>
                    <td>
                        <a href="configuration/section/details/{{cadet.Section.SectionID}}" ng-show="cadet.Section.Nom">{{cadet.Section.Nom}}</a>
                        <i ng-show="!cadet.Section.Nom">Aucune section</i>
                    </td>
                    <td class="text-center">
                        {{cadet.NbBilletsVendu}} / {{cadet.NbBilletsDistribue}}
                    </td>
                    <td class="text-right">
                        <a href="configuration/cadet/edit/{{cadet.CadetID}}" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="" class="btn btn-sm btn-danger" ng-click="cadetDelete(cadet)"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                <tr ng-hide="cadetListData.Cadets.length">
                    <td colspan="4" style="text-align:center;">
                        <i>Aucun cadet trouvé</i>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>