body {
    padding-top: 60px;
}

.spinner img {
    position: fixed;
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    left: calc(50% - 50px);
    z-index: 10000;
    border-radius: 5px;
}
.navbar-header {
    float:left;
}

.navbar-inverse .navbar-center {
    text-align: center;
    color: #fff;
}
